.selector-for-some-widget {
    box-sizing: content-box;
}

.main-container {
    margin: 20px;
 
} 

.row{
    display: flex;
}
i{
    
    float: right;
}
.btn .btn-primary{
    color: rgb(233, 180, 250);
} 

#modal-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;

}
.p-comments{
    font-size: 1.1rem;
    font-weight: bold;
}

#commentsButton{
    border: none;
    background-color: rgb(36, 39, 38);
}